@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }
}

body {
   color: rgb(var(--foreground-rgb));
   background: linear-gradient(
         to bottom,
         transparent,
         rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
}

.blue-glassmorphism {
   background: rgb(39, 51, 89, 0.4);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(0, 0, 0, 0.3);
}

/* width */
::-webkit-scrollbar {
   width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
   background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: rgb(178, 178, 178);
   border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: rgb(182, 181, 181);
}

.hide-scrollbar {
   scrollbar-width: thin; /* Firefox */
   scrollbar-color: transparent transparent; /* Firefox */
   -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
   width: 6px; /* WebKit */
}

.hide-scrollbar::-webkit-scrollbar-thumb {
   background-color: transparent; /* WebKit */
}
